
COMPOSE_PROJECT_NAME=xxx  #e.g.rag-frontend-dev, rag-frontend-staging, rag-frontend-prod

ASPNETCORE_ENVIRONMENT=Production   #change in .env a 'Development' se vuoi renderizzare anche logs di stack trace

DOCKER_NETWORK=xxx  #(DEVE ESSERE LA STESSA IDENTICA del backend! 1 sola rete!) in environment developer change this in DOCKER_NETWORK=rag-dev-network, in env staging here diventa DOCKER_NETWORK=rag-staging-network, in env production DOCKER_NETWORK=rag-prod-network
#e poi quando avvi il docker-compose docker creera automaticamente la rete indicata

IP_SERVER2=172.23.52.150

